<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Hello"></title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
   <h1>Saved</h1>
   
   <form th:action="@{/save}" method="post">
            <div><label> User Name : <input type="text" name="name"/> </label></div>
            <div><label> Password: <input type="text" name="password"/> </label></div>
            <div><input type="submit" /></div>
        </form>
</body>
</html>